# {{ ansible_managed }}

{% if network_domain is defined %}
domain {{ network_domain }}
{% endif %}
{% if network_search is defined %}
{% if network_search is string %}
search {{ network_search }}
{% else %}
search {% for s in network_search %}{{ s }} {% endfor %}
{% endif %}
{% endif %}

{% for server in network_dns_servers %}
nameserver {{ server }}
{% endfor %}