# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable


# You do need to talk to an NTP server or two (or three).
#server ntp.your-provider.example

{% if 'servers' in ntp %}
{% for server in ntp.servers %}
{% if 'comment' in server %}# {{ server.comment }}
{% endif %}
server {{ server.address }} {% for option, value in server.items() %}{% if option in ntp_server_options %} {{  option }}{% elif option in ntp_server_options_with_value %}{{ option }} {{ value }} {% endif %}{% endfor %}

{% endfor %}
{% else %}
server 0.pool.ntp.org iburst
server 1.pool.ntp.org iburst
server 2.pool.ntp.org iburst
server 3.pool.ntp.org iburst
{% endif %}

{% if 'peers' in ntp %}
{% for peer in ntp.peers %}
{% if 'comment' in peer %}# {{ peer.comment }}
{% endif %}
peer {{ peer.address }} {% for option, value in peer.items() %}{% if option in ntp_server_options %}{{ option }} {% elif option in ntp_server_options_with_value %}{{ option }} {{ value }} {% endif %} {% endfor %}

{% endfor %}
{% endif %}

{% if 'fudge' in ntp %}
{% for fudge in ntp.fudge %}
fudge {{ fudge.address }} {% for option, value in fudge.items() %}{% if option in ntp_fudge_options %}{{ option }} {{ value }} {% endif %}{% endfor %}

{% endfor %}
{% endif %}

# Default to disallow anything
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery


{% if 'restrict' in ntp %}
{% for item in ntp.restrict %}
{% if 'comment' in item %}# {{ item.comment }}
{% endif %}
restrict {{ item.ip }}{% if 'mask' in item %} mask {{ item.mask }} {% endif %}{% for option in item %}{% if option in ntp_restriction_modes %}{{ option }} {% endif %} {% endfor %}

{% endfor %}
{% else %}
# Allow local.
restrict 127.0.0.1
restrict ::1
{% endif %}

#disable auth
#broadcastclient
